{{template "header"}}
<body>
{{template "spacers"}}
<br>
<br>
{{if .}}
        <h1>{{.}}</h1>    
{{end}} 
<br>
<div><a href="/viewitems">View all items</a></div>
<div><a href="/additem">Add an item</a></div>
<div><a href="/updateitem">Update an item</a></div>
<div><a href="/deleteitem">Delete an item</a> </div>
<div><a href="/profile">View Profile</div>
<div><a href="/logout">Log Out</a></div>
<br>
</body>
</html>