<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Appointment</title>
    <style>
        html, body, p {
            padding: 0;
            border: 0;
            margin: 0;
        }
        body {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: left;
            height: 100vh;
        }
        p {
            margin-left: 4rem;
            font-size: 2rem;
            color: black;
        }
        .link {
            font-size: 1rem;
        }
    </style>
</head>
<body>

<p>Updated Appointment</p>

<p><a href="/appointments/show?appointmentid={{.AppointmentID}}">{{.AppointmentID}} - {{.PatientID}} - {{.DoctorID}} - {{.ScheduleID}}</a></p>
<p class="link"><a href="/appointments">All Appointments</a></p>
</body>
</html>