<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>functions</title>
</head>
<body>

{{range .MyFamily}}
{{lc .Name}}
{{end}}


{{range .MyFamily}}
{{tc .Name}}
{{end}}


</body>
</html>