{{template "header"}}
<link rel="stylesheet" href="/assets/styles.css">
<body>
{{template "spacers"}}

Hello Admin!

<div><a href="/admin/viewseller">View Seller</a></div>
<div><a href="/admin/viewbuyer">View Buyer</a></div>
<div><a href="/admin/deleteuser">Delete User</a> </div>

</body>
</html>