<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Doctor</title>
    
</head>
<body>

<h1>Create A New Doctor</h1>
<form method="post" action="/doctor/create/process">
    <input type="text" name="doctorName" placeholder="doctorName" required autofocus>
    <input type="submit">
</form>

</body>
</html>