<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Doctor</title>
    
</head>
<body>

<h2>{{.DoctorName}} </h2>
<p class="dk"><a href="/doctors">All Doctors</a></p>

</body>
</html>