<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Doctor</title>
    
</head>
<body>

<h1>Update A Doctor</h1>
<form method="post" action="/doctors/update/process">
    <input type="text" name="doctorName" placeholder="doctorName" required autofocus value="{{.DoctorName}}">
    <input type="submit">
</form>

</body>
</html>