<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Doctor</title>
    
</head>
<body>

<p>Updated Doctor</p>

<p><a href="/doctors/show?doctorName={{.DoctorName}}">{{.DoctorName}} - </a></p>
<p class="dk"><a href="/doctorss">All Doctors</a></p>
</body>
</html>