{{template "hdr"}}

{{template "companyname"}}

<h3>  User Master Upload Summary</h3>

<body>


<table border="1">

    <tr>
        <th>Upload Status</th>   
        <th>Username</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Address</th>
        <th>Contact Number</th>
        <th>Email ID</th>

    </tr>
    

      <tr align="center" colspan="7">
          <td align="center" colspan="7">  {{.}} </td>
        </tr>
   
</table>


{{template "menu"}}

</body>
</html>

 