{{template "hdr"}}

{{template "companyname"}}

<h3>Upload User Master</h3>

<body>


<form  enctype="multipart/form-data" action="/UplUsrMastRecs" method="post">

<p> <h3>Please Select your CSV file to upload User Master Records</h3> <br> </p>
<input type="file" name="filename" /> <br>

<p> <h3>Click to upload the file</h3> </p>
<p><input type="submit" value="UploadUserMaster" /> </p>
</form>

{{template "menu"}}

</body>
</html>

 